apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fullstack-dev

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: StatefulSet
      name: mongodb

images:
  - name: fullstack-backend
    newName: fullstack-backend
    newTag: dev
  - name: fullstack-frontend
    newName: fullstack-frontend
    newTag: dev
